body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background-image: linear-gradient(#F7F7F7, #D6D6D6);
    width: 100vw;
    height: 100vh;
}

li{
    float: left;
}

article{
    margin: 2vw;
}

table, td {
    border: 1px solid black;
  }

#room-list{
    padding-left: 5vw;
    padding-top: 2vh;
    float: left;
}

#tile{
    float: left;
    padding: 10px;
}

nav{
    background-color: #0D74EF;
    width: 100vw;
    height: 2vw;
    padding: 0.5%;
}